:root {
	--nav-bg-color: #190e4f;
	--nav-text-color: white;
	--text-color: #000000;
}

/* Section */

#Title {
	text-align: center;
}

main {
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	height: 50vh;
}

.login-Register {
	margin: 0 auto;
	width: 20%;
	justify-content: center;
}
