body {
	margin: 0;
	font-family: "Roboto", sans-serif;
}

/* Menu */
.flex {
	display: flex;
}

li {
	list-style: none;
}

.menu {
	padding: 0;
	justify-content: space-evenly;
	width: 40vw;
	margin: 0 auto;
	height: 100%;
	align-items: center;
}

.menu li a {
	font-size: larger;
}

#navigation {
	height: 4vh;
	background-color: lightgrey;
}

/* Section */

#Title {
	text-align: center;
}

main {
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	height: 50vh;
}

.login-Register {
	margin: 0 auto;
	width: 20%;
	justify-content: center;
}
