body {
	margin: 0;
}

/* SlideShow */
.slideshow-container {
	width: 82%;
	margin: 0;
	margin-left: 18%;
	overflow: hidden;
}

.slideShow-slide {
	display: flex;
	width: 100%;
}

.slideShow-slide img {
	width: 100%;
}

.slide {
	transform: translateX(100px);
}
